@font-face {
  font-family: 'PixelifySans';
  src: url('./fonts/PixelifySans-Regular.ttf') format('woff2'), url('./fonts/PixelifySans-Regular.ttf') format('woff');
}

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  height: 100%;
  width: 100%;
  font-family: 'PixelifySans';
  background: #70a37f;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
}

input[type='file']::file-selector-button {
  background-color: #fff;
  color: #000;
  border: 4px solid #ddd;
  border-radius: 8px;
  padding: 10px 15px;
  margin-right: 20px;
  transition: 0.5s;
  font-family: 'PixelifySans';
  cursor: pointer;
}

input[type='file']::file-selector-button:hover {
  font-size: 2rem;
  border-color: #e2725b;
}
